.header {
    background-color: #282c34;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-title {
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-nav-list li {
    margin-right: 20px;
}

.header-nav-list li:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #61dafb;
    font-size: 1rem;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
    text-decoration: underline;
}

.user-icon-container {
    position: relative;
}

.auth-dropdown {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    z-index: 1000;
}

.welcome-message {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 1rem;
}