.recipe-list-empty {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #666;
}

.recipe-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.recipe-item img {
    max-width: 100%;
    border-radius: 4px;
}

.recipe-item h2 {
    margin-top: 0;
}

.diet-labels {
    font-style: italic;
    color: #777;
}